<%= simple_form_for article do |form| %>
    <%= form.input :title %>
    <%= form.input :body %>
    <%= form.file_field :image %>
    <%# Need to fix image_cache not saving uploaded image upon validation error %>
    <%= form.hidden_field :image_cache %>
    <label>
        <%= form.check_box :remove_image %>
        Remove image
    </label>
    <%= render "errors", object: article %>
    <%= form.input :status, collection: Visible::VALID_STATUSES, selected: article.status || "public" %>
    <%# TODO: Implement clicking status as bootstrap radio buttons e.g. warning for edit and danger for delete %>
    <%= form.button :submit, class: "btn btn-primary mt-3"%>
<% end %>
