<h1>Article List</h1>
<% if params[:search_query].present? %>
    <p>Your search for "<%= params[:search_query] %>" returned <%= @articles.count %> results:</p>
<% else %>
    <p>Blogger currently contains <%= Article.public_count %> articles:</p>
<% end %>

<table class="table">
    <% @articles.each do |article| %>
        <% unless article.archived? %>
            <tr>
                <td class="pb-3">
                    <%= link_to article.title, article %>
                </td>
            </tr>
        <% end %>
    <% end %>
</table>

<% unless params[:search_query].present? %>
    <%= link_to "Create New Article", new_article_path, class: "btn btn-primary mt-3 mb-5" %>
<% end %>