<div class="card my-5">
    <div class="card-body">
        <h1 class="card-title"><%= @article.title %></h1>
        <%= image_tag(@article.image.thumb.url, alt: "Article Image", class: "mb-3") if @article.image? %>
        <%= simple_format(@article.body)%>
        <% if @article.tags.present? %>
            <p>
                Tags:
                    <% @article.tags.each do |tag|%>
                        <%= link_to tag.name, tag_path(tag), class: "badge rounded-pill text-bg-dark 
                        text-decoration-none"%>
                    <% end %>
            </p>
        <% end %>
        <% if user_signed_in? %>
            <div>
                <%= link_to "Edit", edit_article_path(@article), class: "btn btn-warning" %>
                <%= link_to "Delete", article_path(@article), class: "btn btn-danger", data: {
                        turbo_method: :delete,
                        turbo_confirm: "Are you sure?"
                    }
                %>
            </div>
        <% end %>
    </div>
</div>
<% if @article.comments.present? %>
    <h4>Comments</h4>
    <%= render @article.comments %>
<% end %>

<% if user_signed_in? %>
    <h5 class="mt-5">Add a comment: </h5>
    <%= render "comments/form", article: @article %>
<% end %>
